.mdAdventure{
    background-color:#ffe01b;
    height: 3000px;
    font-family: Arial, Helvetica, sans-serif;
    color:#241c15
}
.textArea{
    height: 500px;
    width: 400px;
    resize: none;
    background-color: aliceblue;
}
.form-inline
{
    min-width: 0 !important;
    width: 500px !important;
    height: 600px !important;
    // color:red !important;
}